In [113]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier

from sklearn.metrics import f1_score

In [86]:
data = pd.read_csv('/kaggle/input/bank-direct-marketing/bank.csv',delimiter=';')

In [87]:
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [88]:
dummie_fetures = ['job','education',]
enc_fetures = ['housing','month','loan','default','marital','y','poutcome','contact']

In [89]:
data['education'].unique()

array(['primary', 'secondary', 'tertiary', 'unknown'], dtype=object)

In [90]:
def prefi(data,column,prefix):
    
    return data[column].apply(lambda x: prefix + x)

In [91]:
data['education'] = prefi(data,'education' , 'e_')

In [92]:
data['job'] = prefi(data,'job' , 'j_')

In [93]:
#check
data['marital'] = data['marital'].apply(lambda x : 'married' if x == 'married' else 'single')

In [94]:
def encod (data,columns):
    encoder = LabelEncoder()
    for col in columns :
        data[col] = encoder.fit_transform(data[col])
    return data

In [95]:
def dummie(data,columns):
    for col in columns:
        dummie  = pd.get_dummies(data[col])
        dummie = dummie.astype(np.int)
        data = pd.concat([data,dummie],axis=1)
        data.drop(col,axis=1,inplace=True)
    return data

In [96]:
encod(data,enc_fetures)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,j_unemployed,0,e_primary,0,1787,0,0,0,19,10,79,1,-1,0,3,0
1,33,j_services,0,e_secondary,0,4789,1,1,0,11,8,220,1,339,4,0,0
2,35,j_management,1,e_tertiary,0,1350,1,0,0,16,0,185,1,330,1,0,0
3,30,j_management,0,e_tertiary,0,1476,1,1,2,3,6,199,4,-1,0,3,0
4,59,j_blue-collar,0,e_secondary,0,0,1,0,2,5,8,226,1,-1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,j_services,0,e_secondary,0,-333,1,0,0,30,5,329,5,-1,0,3,0
4517,57,j_self-employed,0,e_tertiary,1,-3313,1,1,2,9,8,153,1,-1,0,3,0
4518,57,j_technician,0,e_secondary,0,295,0,0,0,19,1,151,11,-1,0,3,0
4519,28,j_blue-collar,0,e_secondary,0,1137,0,0,0,6,3,129,4,211,3,1,0
4520,44,j_entrepreneur,1,e_tertiary,0,1136,1,1,0,3,0,345,2,249,7,1,0

In [99]:
data = dummie(data,dummie_fetures)

/tmp/ipykernel_32/3264744760.py:4: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dummie = dummie.astype(np.int)
/tmp/ipykernel_32/3264744760.py:4: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dummie = dummie.astype(np.int)

In [100]:
data.dtypes

age                int64
marital            int64
default            int64
balance            int64
housing            int64
loan               int64
contact            int64
day                int64
month              int64
duration           int64
campaign           int64
pdays              int64
previous           int64
poutcome           int64
y                  int64
j_admin.           int64
j_blue-collar      int64
j_entrepreneur     int64
j_housemaid        int64
j_management       int64
j_retired          int64
j_self-employed    int64
j_services         int64
j_student          int64
j_technician       int64
j_unemployed       int64
j_unknown          int64
e_primary          int64
e_secondary        int64
e_tertiary         int64
e_unknown          int64
dtype: object

In [102]:
Y = data['y']
X = data.drop('y',axis=1)

In [103]:
x_train , x_test , y_train , y_test = train_test_split(X,Y,train_size=0.7)

In [110]:
log_model = LogisticRegression()
svm_model = SVC()
nn_model = MLPClassifier(hidden_layer_sizes=(128,128,258,258,2))

In [111]:
log_model.fit(x_train,y_train)
svm_model.fit(x_train,y_train)
nn_model.fit(x_train,y_train)

/opt/conda/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

MLPClassifier(hidden_layer_sizes=(128, 128, 258, 258, 2))

In [114]:
print(f'Accuracy : \n MLP : {nn_model.score(x_test,y_test)}\n Logistic : {log_model.score(x_test,y_test)} \n SVM : {svm_model.score(x_test,y_test)}')

Accuracy :
 MLP : 0.894620486366986
 Logistic : 0.8865143699336773
 SVM : 0.894620486366986